<div id="musicFestList" *ngIf="!selectedMusicFest">
  <h1>Music Festival List</h1>
  <!-- <span class="showHand hover" *ngFor="let genre of genres" (click)="selectedGenre = genre">{{genre}} | </span> -->
  <table border="solid" class="table" *ngIf="!selectedMusicFest">
    <thead>
      <tr>
        <td>ID:</td>
        <td>Name:</td>
        <td>Location:</td>
        <td>Number of Days:</td>
        <td>Start Date:</td>
        <td>End Date:</td>
        <td>Music Genre(s):</td>
        <td>Headliners:</td>
        <td>Artists Seen:</td>
        <td>Ticket Price:</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let musicfestival of musicFests"
        (click)="displayMusicFest(musicfestival)">
        <td>{{ musicfestival.id }}</td>
        <td>{{ musicfestival.name }}</td>
        <td>{{ musicfestival.location }}</td>
        <td>{{ musicfestival.numOfDays }}</td>
        <td>{{ musicfestival.startDate }}</td>
        <td>{{ musicfestival.endDate }}</td>
        <td>{{ musicfestival.musicGenre }}</td>
        <td>{{ musicfestival.headliners }}</td>
        <td>{{ musicfestival.artistsSeen }}</td>
        <td>$ {{ musicfestival.ticketPrice }}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <h3>Total Music Festivals Attended: {{ getNumberOfMusicFests()}}</h3>
  <h3>Total Spent on Tickets: $ {{ totalSpent(musicFests)}}</h3>
</div>
<br>
<br>
<!-- <div id="addMusicFest" *ngIf='!createMusicFestForm'>
    <button class="btn btn-primary" (click)="createMusicFestForm"> Add Music Festival </button><br>
  </div> -->
    <div id="musicFestForm" *ngIf="!selectedMusicFest">
        <h2>Music Festival Form</h2>
        <form>
            <label for='name'>Name: </label>
            <input type="text" size="20" name="name" [(ngModel)]="newMusicFest.name"/><br>
            <label for='name'>Location: </label>
            <input type="text" size="20" name="location" [(ngModel)]="newMusicFest.location"/><br>
            <label for='name'>Number Of Days: </label>
            <input type="text" name="numOfDays" [(ngModel)]="newMusicFest.numOfDays"/><br>
            <label for='name'>Start Date: </label>
            <input type="text" name="startDate" placeholder="YYYY-MM-DD" [(ngModel)]="newMusicFest.startDate"/><br>
            <label for='name'>End Date: </label>
            <input type="text" name="endDate" placeholder="YYYY-MM-DD" [(ngModel)]="newMusicFest.endDate"/><br>
            <label for='name'>Music Genre(s): </label>
            <input type="text" size="20" name="musicGenre" [(ngModel)]="newMusicFest.musicGenre"/><br>
            <label for='name'>Headliners: </label>
            <input type="text" size="30" name="headliners" [(ngModel)]="newMusicFest.headliners"/><br>
            <label for='name'>Artists Seen: </label>
            <input type="text" size="50" name="artistsSeen" [(ngModel)]="newMusicFest.artistsSeen"/><br>
            <label for='name'>Ticket Price: $</label>
            <input type="text" name="ticketPrice" [(ngModel)]="newMusicFest.ticketPrice"/><br>
            <input type="submit" name="submitMusicFestForm" value='Add Music Festival' (click)="addMusicFestival(newMusicFest)"/>
        </form>
    </div>

<div id="oneMusicFest" *ngIf="selectedMusicFest">
  <h2>Selected Music Festival</h2>
  <ul>
    <li>ID: {{ selectedMusicFest.id }}</li>
    <li>{{selectedMusicFest.name}}</li>
    <li>Location: {{selectedMusicFest.location}}</li>
    <li>Number of Days: {{ selectedMusicFest.numOfDays }}</li>
    <li>Start Date: {{ selectedMusicFest.startDate }}</li>
    <li>End Date: {{ selectedMusicFest.endDate }}</li>
    <li>Music Genre: {{ selectedMusicFest.musicGenre }}</li>
    <li>Headliners: {{ selectedMusicFest.headliners }}</li>
    <li>Artists Seen: {{ selectedMusicFest.artistsSeen }}</li>
    <li>Ticket Price: {{ selectedMusicFest.ticketPrice }}</li>
  </ul>
  <button class="btn btn-primary" size="20" (click)="setEditMusicFestival()"> Edit </button>
  <button class="btn btn-danger" size="20" (click)="deleteMusicFest(selectedMusicFest.id)"> Delete </button>
</div>
<div *ngIf='editMusicFest && selectedMusicFest'>
    <form>
        <label for='name'>Name: </label>
        <input type="text" size="20" name="name" [(ngModel)]="editMusicFest.name"/><br>
        <label for='name'>Location: </label>
        <input type="text" size="20" name="location" [(ngModel)]="editMusicFest.location"/><br>
        <label for='name'>Number Of Days: </label>
        <input type="text" name="numOfDays" [(ngModel)]="editMusicFest.numOfDays"/><br>
        <label for='name'>Start Date: </label>
        <input type="text" name="startDate" placeholder="YYYY-MM-DD" [(ngModel)]="editMusicFest.startDate"/><br>
        <label for='name'>End Date: </label>
        <input type="text" name="endDate" placeholder="YYYY-MM-DD" [(ngModel)]="editMusicFest.endDate"/><br>
        <label for='name'>Music Genre(s): </label>
        <input type="text" size="20" name="musicGenre" [(ngModel)]="editMusicFest.musicGenre"/><br>
        <label for='name'>Headliners: </label>
        <input type="text" size="30" name="headliners" [(ngModel)]="editMusicFest.headliners"/><br>
        <label for='name'>Artists Seen: </label>
        <input type="text" size="50" name="artistsSeen" [(ngModel)]="editMusicFest.artistsSeen"/><br>
        <label for='name'>Ticket Price: $</label>
        <input type="text" name="ticketPrice" [(ngModel)]="editMusicFest.ticketPrice"/><br>
        <input type="submit" name="editMusicFestForm" value=' Update ' (click)="updateMusicFest(editMusicFest)"/>
        <button class="btn btn-secondary" (click)="displayMusicFest() && editMusicFest = null"> Cancel </button>
    </form>
</div>
